- if @auth
  .bank-links
    = link_to('New Bank', new_bank_path, :remote => true)
    = link_to('Transfer', transfer_banks_path, :remote => true)
.row
  .large-12.columns
    .row
      #bankform
      #transfer_form
      #banks
        .large-6.columns.large-centered
          %ol
            - if @banks
              - @banks.each do |bank|
                %li
                  = link_to(bank.name, bank)
                  %span{:class => 'right'}= "(#{number_to_currency(bank.balance)})"
