.row
  .large-3.columns
    = form_tag transfer_amt_banks_path, :remote => true do
      = select_tag 'from', options_from_collection_for_select(@banks, "id", "name")
      = select_tag 'to', options_from_collection_for_select(@banks, "id", "name")
      = label_tag :amount
      = text_field_tag :amount
      = link_to 'Cancel', '#', :'data-clear-form' => true, :class => 'button tiny radius alert'
      = submit_tag nil, :class => 'button tiny radius success'
  .large-9.columns
