.row
  .large-12.columns.balance
    = render partial: 'just_the_balance'

.row
  .large-12.columns
    = link_to('New Transaction', new_transaction_path, :remote => true, :class => 'button radius', :'data-bank-id' => @bank.id)
    #transaction_form
    .row
      .large-6.columns
        %h3 Deposits
        #bid.hide= @bank.id #have the bank id here for the chart (it can be hidden)
        =link_to("Deposit Data", deposit_info_bank_path, :remote => true, :class => "button radius")
        =link_to("Deposit Chart", "#", :class => "button radius", :id => "dep_chart_btn")
        #deposits
          = render :partial => "banks/deposits"
      .large-6.columns
        %h3 Withdrawals
        =link_to("Withdrawal Data", withdrawal_info_bank_path, :remote => true, :class => "button radius")
        =link_to("Withdrawal Chart", "#", :class => "button radius", :id => "wit_chart_btn")
        #withdrawals
          = render :partial => "banks/withdrawals"

