.row
  .small-12.columns
    %h1= @bank.name

.row
  .small-8.small-centered.columns
    = link_to('New Transaction', new_transaction_path, :remote => true, :class => 'button radius', :'data-bank-id' => @bank.id)
    = @bank.id #don't know why the bank id is here though -jane
    #transaction_form
    %h3 Deposits
    #bid= @bank.id #have the bank id here for the chart (it can be hidden)
    =link_to("Deposit Data", deposit_info_bank_path, :remote => true, :class => "button radius")
    =link_to("Deposit Chart", "#", :class => "button radius", :id => "dep_chart_btn")
    #deposits
      = render :partial => "banks/deposits"
    %h3 Withdrawals
    =link_to("Withdrawal Data", withdrawal_info_bank_path, :remote => true, :class => "button radius")
    =link_to("Withdrawal Chart", "#", :class => "button radius", :id => "wit_chart_btn")
    #withdrawals
      = render :partial => "banks/withdrawals"

