.row
  %fieldset
    = form_for @transaction, :remote => true do |f|
      .large-6.columns
        = f.label :amount, :autofocus => true
        = f.text_field :amount
        = f.label :notes
        = f.text_field :notes
      .large-6.columns
        = f.label :tdate
        = f.text_field :tdate
        .row
          .small-6.columns
            = f.label :is_deposit, 'Deposit'
            = f.radio_button :is_deposit, true
          .small-6.columns
            = f.label :is_deposit, 'Withdrawal'
            = f.radio_button :is_deposit, false
      .row
        .large-12.columns
          = f.submit nil, :class => 'button radius', :style => 'margin-left: 15px;'